// width
@media(min-width: 768px){
   .w-md-50 {
      width: 50%;
   }
   .w-md-75 {
      width: 75%;
   }
   .w-md-80 {
      width: 80%;
   }
   .w-md-100 {
      width: 100% !important;
   }
}

.section-header{

   font-family: 'Lora';
   font-size: 60px;
   font-weight: 600;
   color: $color-primary;
   
   @media screen and (max-width: 991px) {
      font-size: 40px;     
   }
}