.call-support{
   padding: 10px 0 100px;

   @media screen and (max-width: 767px) {
      padding-bottom: 0;
   }

   .inner-contents{
      background: #F9F9F9;
      @media screen and (max-width: 767px) {
         padding-bottom: 35px;
      }
      img{
         transform: scale(1.2);
                  
         @media screen and (max-width: 575px) {
            transform: scale(1.0);
         }
      }

      .call-header{
         font-family: 'Lora';
         @include font-style(62px, 700, $color-primary); 
         
         @media screen and (max-width: 991px) {
            @include font-style(40px, 700, $color-primary);         
         }

         @media screen and (max-width: 370px) {
            @include font-style(35px, 700, $color-primary);         
         }
      }
      
      a{
         font-family: 'Montserrat';
         @include font-style(62px, 600, $color-secondary); 
         
         @media screen and (max-width: 991px) {
            @include font-style(40px, 600, $color-secondary); 
         }
         
         @media screen and (max-width: 370px) {
            @include font-style(34px, 600, $color-secondary); 
         }

         transition: all 0.3s ease-in-out;
         
         &:hover{
            color: $color-primary;
         }
      }
   }
}