.call-support{
   padding: 10px 0 100px;

   @media screen and (max-width: 767px) {
      padding-bottom: 0;
   }

   .section-header {
      font-weight: 700;
   }

   .inner-contents{
      background: #F9F9F9;
      @media screen and (max-width: 767px) {
         padding-bottom: 35px;
      }
      img{
         transform: scale(1.2);
                  
         @media screen and (max-width: 575px) {
            transform: scale(1.0);
         }
      }

      .call-header{
         font-family: 'Lora';
         font-size: 62px;
         font-weight: 700;
         color: $color-primary;
         
         @media screen and (max-width: 991px) {
            font-size: 40px;        
         }

         @media screen and (max-width: 370px) {
            font-size: 35px;      
         }
      }
      
      .phone-number{
         font-family: 'Montserrat';
         font-size: 62px;
         font-weight: 600;
         color: $color-secondary;
         
         @media screen and (max-width: 991px) and (min-width: 376px) {
            font-size: 40px; 
         }
         
         @media screen and (max-width: 375px) {
            font-size: 34px;
         }

         transition: all 0.3s ease-in-out;
      }
   }
}