.document-mangagement-section{
   padding: 50px 0 70px;
   background: rgba($color-secondary, 0.05);



   .nav-pills{
      padding-bottom: 25px;
      display: flex;
      justify-content: space-between;
      overflow-X: scroll;

      &::-webkit-scrollbar {
         display: none;
         scrollbar-width: none;
         -ms-overflow-style: none;
     }
     

      .nav-link{
         position: relative;
         font-family: 'Montserrat';
         @include font-style(28px, 600, rgba($color-black, 0.3)); 
         border-radius: 0;
         padding-bottom: 9px;
         margin-right: 30px;
        
        
         &::after{
            content:"";
            position: absolute;
            height: 3px;
            width: 0%;
            background:  $color-primary;
            top: 100%;
            left: 0;
            transition: all 0.4s ease-in-out;
         }
         
         &.active{
            @include font-style(28px, 700, $color-primary);
            background: none;
   
            &::after{
               width: 100%;
            }
         }
         
         &:hover{
            @include font-style(28px, 700, $color-primary);
            background: none;
   
            &::after{
               width: 100%;
            }
         }
      }
   }

   .tab-content{
      .tab-pane{
         img{
            @media screen and (min-width: 992px){
               padding-right: 60px;
            }
         }

         h3{
            font-family: 'Montserrat';
            @include font-style(46px, 400, $color-black); 
            line-height: 60px;
            text-align: center;
            padding-bottom: 35px;


            @media screen and (max-width: 991px) {
               @include font-style(30px, 400, $color-black); 
               padding-bottom: 20px;
               line-height: 35px;
            }
         }

         p{
            font-family: 'Montserrat';
            @include font-style(24px, 400, $color-black); 

            @media screen and (max-width: 991px) {
               @include font-style(18px, 400, $color-black); 
            }
         }
      }
   }
}