.pricing{
   padding: 50px 0px 60px;

   .section-content{
      padding-top: 80px;
      
      @media screen and (max-width: 767px) {
         padding-top: 50px;
      }
     
      .pricing-card{
         text-align: center;
         background: #FFFFFF;
         box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
         padding: 55px 50px 140px;
         position: relative;

         @media screen and (max-width: 530px) {
            padding: 30px 10px 80px;
         }

         .line{
            margin: 50px;
            @media screen and (max-width: 530px) {
               margin: 25px;
            }
         }

         .description{
            font-size: 18px;
            font-weight: 400;
            color: $color-black;
            line-height: 40px;
         }


         &.free{
            background: #FFFFFF;
            border: 2px solid #FF6D00;

            h4{
               font-family: 'Lora';
               padding-bottom: 55px;
               font-size: 32px;
               font-weight: 600;
               color: $color-secondary;
            }

            .price{
               font-size: 48px;
               font-weight: 600;
               color: $color-secondary;
            }
         }

         &.licenced{
            border: 2px solid #215795;

            h4{
               font-family: 'Lora';
               padding-bottom: 55px;
               font-size: 32px;
               font-weight: 600;
               color: $color-primary;
            }

            .price{
               font-size: 48px;
               font-weight: 600;
               color: $color-primary;
               position: relative;
               display: inline-block;

               &::before{
                  content: "INR";
                  font-size: 16px;
                  font-weight: 400;
                  color: #BEB9B9;
                  font-style: normal;
                  line-height: 50px;
                  position: absolute;
                  top: 2px;
                  right: 100%;
                  padding-right: 5px;
               }

               &::after{
                  content: "one time";
                  font-size: 16px;
                  font-weight: 400;
                  color: #BEB9B9;
                  font-style: normal;
                  position: absolute;
                  bottom: 10px;
                  left: 100%;
                  white-space: nowrap;
               }
            }
         }

         .button{
            font-size: 20px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 30px;
         }
      }
   }
}