.user-input-form{
   padding: 70px 0; 

   @media screen and (max-width: 767px){
      padding: 50px 0; 
   }

   .header{
      h2{
         font-size: 40px;
         font-weight: 700;
         color: $color-black;
         @media screen and (max-width: 575px){
            font-size: 30px;
         }

         span{
            font-size: 40px;
            font-weight: 700;
            color: $color-blue-light;
         }

         border-left: 5px solid rgba($color-secondary, 0.35);
      }

      p{
         font-size: 18px;
         font-weight: 500;
         color: rgba($color-black, 0.6);

      }

      .telNumber{
         font-size: 48px;
         font-weight: 700;
         color: $color-black;
         line-height: 80px;
         position: relative;
         transition: all 0.3s ease-in-out;

         @media screen and (max-width: 575px){
            font-size: 30px;
            line-height: 50px;
         }

         &::after{
            content:"";
            position: absolute;
            height: 3px;
            width: 0%;
            background:  $color-primary;
            top: 100%;
            left: 0;
            transition: all 0.4s ease-in-out;
         }
         
         &:hover{
            color: $color-primary;
   
            &::after{
               width: 100%;
            }
         }
      }
   }

   .input-section{
      .form-control {
         background: rgba(0, 0, 0, 0.03);
         border: none;
      }

      .text-area{
         height: 170px !important;
      }
   }
}