.why-tallydocs{
   background: #f8f8f8;
   padding: 60px 0 70px;
   
   ul{
      padding: 50px 0;
      li{
         display: flex;
         font-family: 'Montserrat';
         @include font-style(30px, 400, $color-black);
         margin-bottom: 10px;

         @media screen and (max-width: 991px){
            @include font-style(22px, 400, $color-black);
         }

         span{
            margin-right: 15px;
         }

         img{
            width: 20px;
            height: 20px;

            @media screen and (max-width: 991px){
               height: 15px;
               width: 15px;
            }
         }
      }
   }
   
   a{
      font-family: 'Montserrat';
      @include font-style(26px, 500, $color-white);
      letter-spacing: -0.015em;
   }
}