.why-tallydocs{
   background: #f8f8f8;
   padding: 50px 0;
   
   ul{
      padding: 50px 0;
      li{
         font-family: 'Montserrat';
         @include font-style(30px, 400, $color-black);
         line-height: 50px;

         @media screen and (max-width: 991px){
            @include font-style(22px, 400, $color-black);
            line-height: 35px;
         }
      }
   }
   
   a{
      font-family: 'Montserrat';
      @include font-style(26px, 500, $color-white);
      letter-spacing: -0.015em;
   }
}