.why-tallydocs{
   background: #f8f8f8;
   padding: 50px 0;
   
   ul{
      padding-bottom: 50px;
      li{
         font-family: 'Montserrat';
         @include font-style(32px, 400, $color-black);
         line-height: 50px;
      }
   }
   
   a{
      font-family: 'Montserrat';
      @include font-style(26px, 500, $color-white);
      letter-spacing: -0.015em;
   }
}